<div class="card">
  <img src="https://prod-saint-gobain-fr.content.saint-gobain.io/sites/saint-gobain.fr/files/2020-07/peinture-interieure00.jpg" class="card-img-top" alt="Fissure in Sandstone"/>
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

      <p class="h6 text-uppercase text-muted mb-0 ms-auto">
      <time datetime="2019-05-29"> Ajoutée le 08/02/2021</time>
      </p>
   
    
  </div>
</div>



<div class="card">
  <img src="https://prod-saint-gobain-fr.content.saint-gobain.io/sites/saint-gobain.fr/files/2020-07/peinture-interieure00.jpg" class="card-img-top" alt="Fissure in Sandstone"/>
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      
      <p class="h6 text-uppercase text-muted mb-0 ms-auto">
      <time datetime="2019-05-29"> Ajoutée le 08/02/2021</time>
      </p>
   
  
  
  
  </div>


</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>






<div class="act">
<h1> Dernières actualités </h1>
<p> these can be split into smaller grid sizes, though we recommendhalf or thirds </p>
</div>
<br>
<br>


<div class="content">
            <div class="row">
                
                <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
   
  </div>
</div>
            <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    
  </div>
</div>
                <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

    <a class="card-meta mt-auto" href="#!">

                <!-- Divider -->
                <hr class="card-meta-divider">

                <!-- Avatar -->
               
                <!-- Author -->
                <h6 >
                  Ab Hadley
                </h6>

                <!-- Date -->
                <p class="h6 text-uppercase text-body-secondary mb-0 ms-auto">
                  <time datetime="2019-05-02">May 02</time>
                </p>

              </a>
   
  </div>
</div>
            </div>
            
        </div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>